
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">gutwara</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ahabanza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Amashuri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">sangiza abandi</a>
                </li>

                <li class="nav-item ">
                    <select class="form-select">
                        <option><span class="flag-icon flag-icon-fr flag-icon-squared"></span> Kinyarwanda</option>
                        <option><span class="flag-icon flag-icon-fr flag-icon-squared"></span> English</option>
                        <option><span class="flag-icon flag-icon-fr flag-icon-squared"></span> Francais</option>
                       
                    </select>
                </li>

            </ul>

        </div>
    </div>
</nav>
